@font-face {
  font-family: 'Mermaid';
  src: url('./fonts/Mermaid1001.ttf');
}

@font-face {
  font-family: 'Sunflower';
  src: url('./fonts/Sunflower.otf');
}

@font-face {
  font-family: 'DS Digital';
  src: url('./fonts/DS_Digital.ttf');
}