* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 30px;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: white;
  font-family: 'Sunflower', serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to top right,
    rgba(51, 51, 51, 0.3),
    rgba(0, 0, 0, 0.4)
  );
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.countdown > h2 {
  font-family: 'Sunflower', serif;
  font-size: 2em;
  color: rgb(227, 193, 130);
  text-align: center;
}

.countdown > p {
  font-family: 'DS Digital', monospace;
  font-size: 2em;
  color: white;
}

#row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
}